# Core
Django==5.2
djangorestframework==3.16

# CORS for connecting Frontend
django-cors-headers==4.7

# Environment variables
python-dotenv==1.1
#  Database setup
psycopg2-binary
dj-database-url==2.3

# For production server
gunicorn                      

# for Testing
pytest==8.3.5
pytest-django==4.11.1
